<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290472148201-pchoji1ljnf1l6dqqoom7engbmdd3ig6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290472148201-pchoji1ljnf1l6dqqoom7engbmdd3ig6</string>
	<key>API_KEY</key>
	<string>AIzaSyCODnRgDxuLTBqaX_3m7bMuPynlUCW83js</string>
	<key>GCM_SENDER_ID</key>
	<string>290472148201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mateVibes</string>
	<key>PROJECT_ID</key>
	<string>authenticationmatevibes</string>
	<key>STORAGE_BUCKET</key>
	<string>authenticationmatevibes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290472148201:ios:961075d6b1d6d84a50c478</string>
	<key>DATABASE_URL</key>
	<string>https://authenticationmatevibes-default-rtdb.firebaseio.com</string>
</dict>
</plist>